<div class="container about_prod">
        <div class="h2">Продукция "Здоров":</div>

        <div class="row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="about_prod__num mr-md-5">01</div>
                <p class="about_prod__desc">Только натуральные ингредиенты</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="about_prod__num mr-md-5">02</div>
                <p class="about_prod__desc">Отлаженный процесс производства</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="about_prod__num mr-md-5">03</div>
                <p class="about_prod__desc">Многоуровневая система контроля качества</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="about_prod__num mr-md-5">04</div>
                <p class="about_prod__desc">Лояльное отношение к покупателю</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="about_prod__num mr-md-5">05</div>
                <p class="about_prod__desc">Полностью безопасна</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="about_prod__num mr-md-5">06</div>
                <p class="about_prod__desc">Прошла проверку Роскачеством</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="about_prod__num mr-md-5">07</div>
                <p class="about_prod__desc">Тысячи людей, которым мы помогли.</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="about_prod__num mr-md-5">08</div>
                <p class="about_prod__desc">Доступна в Европе, Азии.</p>
            </div>
        </div>
    </div>