<div class="container container__mini py-xl-6 pb-sm-45">
    <div class="row align-items-center">
        <div class="col-12 col-xl-7">
            <div class="section-content py-0">
                <h1 class="h1 text-center c-main my-0">Официальный<br class="d-none d-md-inline d-lg-none"> Магазин
                    <br class="d-none d-md-inline d-lg-none"> <span class="c-secondary">Здоров</span>
                </h1>
            </div>
        </div>
        <div class="col-12 col-xl-5 d-none d-xl-block">
            <div class="section-content section__img">
            </div>
        </div>
    </div>
</div>