{# @controller AppBundle:Default:index #}
{# @var Product[] specialOffers#}

{% extends "layout/base.html.twig" %}


{% block content %}

<section class="sec sec_1">
    {% include 'default/block/_slogan.html.twig' %}
</section>

<section class="sec sec_2 animated fadeInLeft" id="special">
    {% include 'default/block/_special_offers.html.twig' with {products : specialOffers} %}
</section>

<section class="sec sec_3 aos aos_right" id="joint">
    {% include 'default/block/_item_section.html.twig' with {category: 'Суставы', products : productsJoint} only %}
</section>

<section class="sec sec_4 aos aos_right" id="beauty">
    {% include 'default/block/_item_section.html.twig'with {category: 'Морщины', products : productsWrinkles} only %}
</section>

<section class="sec sec_points" id="actions">
    {% include 'default/block/_special_offers_fat.html.twig' %}
</section>

<section class="sec sec_12 aos aos_left" id="contactUs">
    {% include 'default/block/_call_me.html.twig' %}
</section>

<section class="sec sec_9 aos aos_left" id="rules">
    {% include 'default/block/_rules.html.twig' %}
</section>

{% include 'default/modal/_offers.html.twig' %}

{% include 'default/modal/_points.html.twig' %}

{% include 'default/modal/_common.html.twig' %}

{% include 'default/modal/_call_form.html.twig' %}

{% endblock %}