<!--Общее модальное окно-->
<div class="modal fade" id="callFormModal" tabindex="-1" role="dialog" aria-labelledby="callFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row align-items-center pt-4 pb-5 px-5 px-md-7">
                        <div class="col-12 text-center" id="callFormModalContainer">
                            Спасибо! Наш специалист перезвонит вам в ближайшее время!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>