{# @controller AppBundle:Catalog:index #}
{# @var Product[] specialOffers#}

{% extends "layout/base.html.twig" %}

{% block javascript %}
    {{ parent() }}

    {% javascripts filter="?jsqueeze" output="js/app.js"
    "assets/js/index.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block hashMenu%}
    {% include 'layout/block/menu.html.twig' %}
{% endblock %}


{% block content %}

<section class="sec sec_1">
    {% include 'catalog/block/_slogan.html.twig' %}
</section>

<section class="sec sec_2 animated fadeInLeft pt-sm-45" id="special">
    {% include 'catalog/block/_special_offers.html.twig' with {products : specialOffers} %}
</section>

<section class="sec sec_3 aos aos_right" id="catalog">
    {% include 'catalog/block/_item_section.html.twig' with {category: 'Продукция компании "Здоров"', products : products} only %}
</section>

<section class="sec sec_points" id="hit-sales">
    {% include 'catalog/block/_special_offers_fat.html.twig' with {productPairs: specialOfferPairs, mainProduct: mainProduct} only %}
</section>

<section class="sec sec_12 aos aos_left" id="contactUs">
    {% include 'catalog/block/_call_me.html.twig' %}
</section>

<section class="sec sec_9 aos aos_left" id="rules">
    {% include 'catalog/block/_rules.html.twig' %}
</section>

{% include 'catalog/modal/_offers.html.twig' %}

{% include 'catalog/modal/_points.html.twig' %}

{% include 'catalog/modal/_common.html.twig' %}

{% endblock %}