<div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-4">
                <img class="chuvak b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="
                     data-src="{{ asset('img/chuvak.png') }}" alt=""/>
            </div>
            <div class="col-xl-6 col-lg-8">
                <p class="fs-30 lh-117 mb-6"><b>Остались вопросы?</b></p>
                <p>Отправь нам ссылку на товар, и мы его добавим</p>

                <form id="w0" class="form form_wish" action="//market.adbees.com/add-honey-item" method="post">
                    <input type="hidden"  name='Ticket[iAgree]' value="1">
                    <input type="hidden"  name='Ticket[theme]' value="Хочу новый товар">

                <div class="d-flex flex-column flex-md-row align-items-center mb-3">
                    <input type="text" class="form__text mr-0 mb-3 mb-md-0 mr-md-45" name='Ticket[message]' required=""
                           placeholder="Место для ссылки">
                    <button type="submit" class="btn">отправить</button>
                </div>
<!--                <div class="radio radio_cb">-->
<!--                    <label class="radio__label">-->
<!--                        <input type="checkbox" class="radio__input" name="notify"> Оповестить по email о добавлении-->
<!--                        товара-->
<!--                        <span class="radio__checkmark"></span>-->
<!--                    </label>-->
<!--                </div>-->

            </div>
        </div>
    </div>