
<!DOCTYPE html>

<html>
    {% include 'layout/block/head.html.twig' %}

    <body class="route-{{ app.request.attributes.get("_route")  }}">
        <div class="overlay"></div>

        {% include 'layout/block/menu.html.twig' %}

        {% include 'layout/block/header.html.twig' %}

        {% block content %}{% endblock %}

        {% include 'layout/block/footer.html.twig' %}

    </body>
</html>
