

{#$this->registerJsFile('@web/md/honey/js/jquery-3.3.1.min.js', ['position' => \yii\web\View::POS_END]);#}
{#$this->registerJsFile('@web/md/honey/js/bootstrap.min.js',    ['position' => \yii\web\View::POS_END]);#}
{#$this->registerJsFile('@web/md/honey/js/blazy.min.js',        ['position' => \yii\web\View::POS_END]);#}
{#$this->registerJsFile('@web/md/honey/js/jquery.scrollspy.js', ['position' => \yii\web\View::POS_END]);#}
{#$this->registerJsFile('@web/md/honey/js/owl.carousel.min.js', ['position' => \yii\web\View::POS_END]);#}
{#$this->registerJsFile('@web/md/honey/js/common.js?v=1', ['position' => \yii\web\View::POS_END]);#}

{#//Для загрузки нужных скриптов на своих страницах#}
{#$currentPage = Yii::$app->controller->action->id;#}
{#switch ($currentPage) {#}
    {#case 'index':#}
        {#$this->registerJsFile('@web/md/honey/js/index.js', ['position' => \yii\web\View::POS_END]);#}
        {#break;#}
    {##}
    {#case 'order':#}
        {#$this->registerJsFile('@web/md/honey/js/order.js?v=1',  ['position' => \yii\web\View::POS_END]);#}
        {#break;#}
{#}#}

{#$this->registerCssFile('../md/honey/css/style.css');#}

{#/** @var ar\User | null $user */#}

{#$user               = $this->params['user'];#}
{#$profile            = $this->params['userProfile'];#}
{#$responsibleManager = $this->params['responsibleManager'];#}
{#$isGuest            = $this->params['isGuest'];#}
{#$honeyBonus         = $this->params['honeyBonusValue'];#}
{#$isBonusAvailable   = $this->params['isBonusAvailable'];#}




<!DOCTYPE html>

<html>
    {% include 'layout/block/head.html.twig' %}

    <body>
        <div class="overlay"></div>

        {% include 'layout/block/menu.html.twig' %}

        {% include 'layout/block/header.html.twig' %}

        {% block content %}{% endblock %}

        {% include 'layout/block/footer.html.twig' %}

    </body>
</html>
