<div class="container">
        <h2 class="h2">правила участия</h2>

        <div class="row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="fs-60 fw-900 c-grey3 lh-1 mr-md-5 w_7-5">01</div>
                <p class="pt-2">Период проведения акции с 06.06.2018 по 31.12.2019</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="fs-60 fw-900 c-grey3 lh-1 mr-md-5 w_7-5">02</div>
                <p class="pt-2">В акции участвуют все товарные офферы партнерской сети Adbees.com</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="fs-60 fw-900 c-grey3 lh-1 mr-md-5 w_7-5">03</div>
                <p class="pt-2">Баллы(HoneyMoney) начисляются за каждый апрувленный лид. Ставки отчислений остаются прежними</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="fs-60 fw-900 c-grey3 lh-1 mr-md-5 w_7-5">04</div>
                <p class="pt-2">За каждый заказанный товар с участника акции списывается стоимость в HoneyMoney</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="fs-60 fw-900 c-grey3 lh-1 mr-md-5 w_7-5">05</div>
                <p class="pt-2">Монеты могут обнуляться в двух случаях:<br>
                    • Если в течение каждого 31 дня с момента старта акции вебмастер наливает менее 29 подтвержденных
                    заявок<br>
                    • Если монеты не потрачены до 31 декабря 2019 года</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="fs-60 fw-900 c-grey3 lh-1 mr-md-5 w_7-5">06</div>
                <p class="pt-2">Все участники акции обязуются соблюдать правила работы
                    с партнёрской сетью. За нарушение любого из правил учётная
                    запись в Adbees.com будет заблокирована, а баланс HoneyMoney аннулирован</p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="fs-60 fw-900 c-grey3 lh-1 mr-md-5 w_7-5">07</div>
                <p class="pt-2">
                    За 1 апрувленный лид начисляется Honey Money, в зависимости от оффера и Гео.
                </p>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-5 d-md-flex">
                <div class="fs-60 fw-900 c-grey3 lh-1 mr-md-5 w_7-5">08</div>
                <p class="pt-2">Текущий баланс монет отображается в личном кабинете вебмастера рядом с балансом</p>
            </div>
            <!--<div class="w-100"></div>-->
            <div class="col-12">
                <p class="c-grey2 text-lg-center"><i>Условия акции могут меняться. Следите за новостями</i></p>
            </div>
        </div>
    </div>