<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-xl-7">
            <h1 class="h1">Официальный<br class="d-none d-md-inline d-lg-none"> Магазин
                <br class="d-none d-md-inline d-lg-none"> "Здоров"
            </h1>
        </div>
        <div class="col-12 col-xl-5">

            <div class="c-grey4 animated fadeInRight text-left">
                <div>
                    <div class="fs-30 fw-900 c-grey2 d-inline-block mr-45 align-middle">01</div>
                    <div class="d-inline-block align-middle">Выберите товар</div>
                </div>
                <div>
                    <div class="fs-30 fw-900 c-grey2 d-inline-block mr-45 align-middle">02</div>
                    <div class="d-inline-block align-middle">
                        Оставте контакнтые данные. <br>Наш специалист перезвонит <br>в удобное для вас время
                    </div>
                </div>
                <div>
                    <div class="fs-30 fw-900 c-grey2 d-inline-block mr-45 align-middle">03</div>
                    <div class="d-inline-block align-middle">Выберите товар</div>
                    Получите товар удобным вам способом
                </div>
            </div>

        </div>
    </div>
</div>