<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h2">Специальные предложения</h2>
            <div class="owl-carousel owl_high">

                {% include 'default/block/_products_list.html.twig' %}

            </div>
        </div>
    </div>
</div>
