{#<?php#}
{#/**#}
 {#* @var \yii\web\View  $this#}
 {#*/#}

{#use \common\models\ar;#}

{#$mainOfferFamily =ar\OfferHoneyFamily::findMain();#}

{#//получаем и сортируем по цене#}
{#$families = ar\OfferHoneyFamily::findAll(['is_main' => false]);#}
{#ar\OfferHoneyFamily::sortByMaxValue($families);#}

{#//разбиваем на пары#}
{#$offerFamilyPairs = \common\helpers\ArrayHelper::toChunks($families, 2);#}

{#?>#}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="h2">Специальные предложения</h2>
        </div>

        <div class="col-12">
            <div class="d-flex pb-4 pt-4 scroll-x" style="overflow-x: auto;">

                    <div class="d-flex flex-column">
                        {% include 'default/block/_offer_point_card.html.twig' with {additionalClass:'card_points_big'} %}
                    </div>


                    <div class="d-flex flex-column">
                        {% include 'default/block/_offer_point_card.html.twig' with {additionalClass:'ml-3'} %}
                        {% include 'default/block/_offer_point_card.html.twig' with {additionalClass:'ml-3'} %}
                    </div>

                    <div class="d-flex flex-column">
                        {% include 'default/block/_offer_point_card.html.twig' with {additionalClass:'ml-3'} %}
                        {% include 'default/block/_offer_point_card.html.twig' with {additionalClass:'ml-3'} %}
                    </div>

                    <div class="d-flex flex-column">
                        {% include 'default/block/_offer_point_card.html.twig' with {additionalClass:'ml-3'} %}
                        {% include 'default/block/_offer_point_card.html.twig' with {additionalClass:'ml-3'} %}
                    </div>

            </div>
        </div>
    </div>
</div>
