<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h2">Офферы с повышенными баллами</h2>
            <div class="owl-carousel owl_high">
                <?= $this->render('_high-point-offers-list') ?>
            </div>
        </div>
    </div>
</div>
