.header{
    background: #fff;
    @include shadow-card-40();
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    color: $secondary-color;

    &__wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7rem;
    }

    &__block{
        align-self: stretch;
        display: flex;
        align-items: center;
        padding: 0 2.7rem;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        text-decoration: none;
        transition: .3s all ease-in-out;

        &_logo{
            border: none;
            padding: 0;
            justify-content: center;
            width: 100%;
        }

        &_exit, &_fs0{
            font-size: 0;
        }

        &_email{
            min-width: 23.4rem;
        }

        &_footer{
            padding: 2rem 3rem 1.8rem 5.2rem;
            border: none;
            border-top: 1px solid $border-color;
        }
    }
}

@media (min-width: 768px) {
    .header {

        &__wrap{
            justify-content: start;
        }

        &__block{

            &_logo{
                flex-grow: 2;
                justify-content: flex-start;
            }

            &_exit{
                position: relative;
                font-size: 1.3rem;
                padding: 0 5rem;
            }
            
            &_fs0{
                font-size: 1.3rem;
            }
        }
    }   
}

@media (min-width: 1210px) {
    .header {
        box-shadow: none;

        &__block{
            padding: 0 2rem 0 2rem;


            &_hb{
                min-width: 20rem;
            }

            &_logo{
                padding-left: 1rem ;
                padding-right: 3rem ;
            }
        }
    }   
}