.product__product-card {
  margin-bottom: 10rem;
  .main-padding {
    padding: 3rem 5rem 0rem;

    @media (max-width: 768px) {
      & {
        padding: 1rem;
      }
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding: 0 45px;

      &_order{
        padding: 15px 45px;
      }
    }
  }

  .product__main-slider.owl-carousel {

    .owl-nav {  display: none;  }

    .owl-dots {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .product-item__img {

    }
  }

  .product-menu {
    min-width: 320px;
    padding: 7rem 3rem 0 5.2rem;
    height: 100%;
    @include shadow-card-40();
    background-color: #ffffff;
    transition: .3s left ease-in-out;

    &__list{
      padding: 0;
      margin: 0;
      list-style-type: none;

      > li{
        line-height: 1;

        > a{
          color: $color-main-font;
          padding: 2rem 4rem;
          font-weight: 600;
          font-size: 1.5rem;
          text-transform: uppercase;
          border: 1px solid transparent;
          border-bottom: none;
          letter-spacing: 0.6px;
          text-decoration: none;
          border-radius: 3px 3px 0 0;
          transition: .3s all ease-in-out;

          &:hover{
            background-color: $color-main-font;
            color: $secondary-color;
          }

          &.active{
            color: $color-main-font;
            background-color: $color-main-bg;
            border-color: $color-main-font;
          }
        }

      }
    }
  }

  .product__info {
    .product__fake-price {
      font-size: 3.5rem;
      color: $text-color-grey3;
      text-decoration: line-through $color-cross-line;
    }
  }

  .product-info-block {
    background-color: $block-bg-color;
    color: $main-color;
    padding:3rem;

    .product__header-desc {
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  .rating {
    margin-bottom: 3rem;
    .star-full {
      &::before {
        color: $main-color-2;
      }
    }
    .star-empty {
      &::before {
        color: $main-color-2;
      }
    }
  }

  .nav-tabs {
    border-bottom: 1px solid $main-color;
  }

  button {
    &.btn-buy{
      font-size: 2rem;
      background-color: $color-green;
      color: $color-main-bg;
    }
  }

}