.h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 5.5rem;
}

.h2{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 0 0 3rem;
    text-align: center;
}

.h3{
    color: #757575;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}

@media (min-width: 768px){
    .h1{
        font-size: 8.9rem;
        display: inline-block;
        margin: 0 0 7.4rem;

        > span{
            text-align: right;
        }
    }
}

@media (min-width: 1210px){
    .h1{
        /*margin: 1rem 0 8rem;*/
        margin: 0;
        display: inline-block;
        text-align: left;
        padding-right: 9rem;
    }
}