<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <a>Контакты</a>
                </div>
            </div>
        </div>
        <div>
            ООО "Здоров"<br class="d-inline d-md-none"> © {{ "now"|date('Y') }} все права защищены
        </div>
        <div>Юридический адрес: г. Тверь, Петербургское шоссе 53а</div>
    </div>
</footer>