<header class="header">
    <div class="container container__mini">
        <div class="header__wrap">

            <div class="header__block d-lg-none c-secondary">
                <i class="icon_menu c-main fs-17 pointer"></i>
            </div>

            <div class="header__block header__block_logo">
                <a class="logo-wrapper" href="{{ absolute_url('/') }}">
                    <img class="logo" src="{{ asset('assets/img/logo.svg') }}" alt="Здоров лого"/>
                </a>
            </div>


            <a href="{{ url('catalog') }}" class="header__block header__block_exit link link_header d-none d-lg-flex">
                <nobr>Каталог</nobr>
            </a>
            <a href="{{ url('about_us') }}" class="header__block header__block_exit link link_header d-none d-lg-flex">
                <nobr>О компании</nobr>
            </a>
            <a href="" class="header__block header__block_exit link link_header d-none d-lg-flex">
                Производство
            </a>
            <a href="" class="header__block header__block_exit link link_header d-none d-lg-flex">
                Документы
            </a>
            <a href="" class="header__block header__block_exit link link_header d-none d-lg-flex">
                Контакты
            </a>
        </div>
    </div>
</header>