<div class="menu" id="js-scrollspy">
    <div class="container">
        <span class="menu__close"><i class="icon_close"></i></span>

        <ul class="menu__list js-scrollspy-nav">
            <li><a href="#joint">суставы</a></li>
            <li><a href="#beauty">морщины</a></li>
            <li><a href="#special">скидки</a></li>
            <li><a href="#actions">акции</a></li>
            <li><a href="#rules">как купить</a></li>
        </ul>

        <div class="menu__footer">
            <div class="header__block header__block_footer header__block_mngr">
            </div>
        </div>
    </div>
</div>
