

{#/** @var \common\models\ar\User | null $user */#}

{#$responsibleManager = $this->params['responsibleManager'];#}
{#$isGuest            = $this->params['isGuest'];#}
{#$honeyBonus         = $this->params['honeyBonusValue'];#}
{#$isBonusAvailable   = $this->params['isBonusAvailable'];#}

{#$urlPrefix = (Yii::$app->controller->action->id == 'order') ? Url::base('') . '/honey' : '';#}
{#?>#}

<div class="menu" id="js-scrollspy">
    <div class="container">
        <span class="menu__close"><i class="icon_close"></i></span>

        <ul class="menu__list js-scrollspy-nav">
            <li><a href="#forWork">для работы</a></li>
            <li><a href="#gadgets">гаджеты</a></li>
            <li><a href="#toys">игрушки</a></li>
            <li><a href="#cars">автомобили</a></li>
            <li><a href="#other">прочее</a></li>
            <li><a href="#points">баллы за апрувы</a></li>
            <li><a href="#rules">правила участия</a></li>
        </ul>


            <div class="menu__footer">
                    <div class="header__block header__block_footer header__block_mngr">
                        <img class="img-mngr mr-3 b-lazy"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="
                             data-src="" alt=""/>
                        <div class="fs-13 c-grey2 mr-3">
                            Ваш менеджер:
                            <span class="d-block c-black">
                                <b>ТЕст менеджер</b>
                            </span>
                        </div>

                            <div class="d-flex">
                                <a class="icon_header"
                                   href="" target="_blank"><i class="icon_telegram"></i></a>
                            </div>
                    </div>

                <div class="header__block header__block_footer header__block_hb">
                    <img class="mr-3 b-lazy"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="
                         data-src="" alt=""/>
                    <div class="fs-13 c-grey2 mr-3">HoneyMoney<span class="d-block c-black fs-15"><b>'10 HM'</b></span></div>
                </div>
            </div>
    </div>
</div>
