<div class="menu" id="js-scrollspy">
    <div class="container">
        <span class="menu__close"><i class="icon_close"></i></span>

        <div class="header__block d-xl-none">
            <i class="icon_menu c-main fs-17 pointer"></i>
        </div>
        <ul class="menu__list js-scrollspy-nav">
            <li><a href="#special">скидки</a></li>
            <li><a href="#catalog">Продукция</a></li>
            <li><a href="#hit-sales">Хиты продаж</a></li>
            <li><a href="#rules">как купить</a></li>
        </ul>

        <div class="menu__footer">
            <div class="header__block header__block_footer header__block_mngr">
            </div>
        </div>
    </div>
</div>
