

{% extends "layout/base.html.twig" %}
{% set page_title = 'О нас' %}


{% block hashMenu%}
    {#{% include 'layout/block/menu.html.twig' %}#}
{% endblock %}


{% block content %}

    <section class="sec sec_1">
        {% include 'catalog/block/_slogan.html.twig' %}
    </section>

    <section class="sec sec_9 aos aos_left" id="rules">
        {% include 'catalog/block/_rules.html.twig' %}
    </section>

{% endblock %}